@import "tailwindcss";

@layer base {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #root {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body {
        background-color: var(--color-background-dark);
        color: #f1f5f9;
        /* slate-100 */
    }
}

@theme {
    --font-display: "Inter", "sans-serif";

    --color-primary: #2b6cee;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;

    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
}

/* Material Symbols settings */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 99px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

/* Dark mode adjustments */
.dark ::-webkit-scrollbar-thumb {
    background: #334155;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #475569;
}